## File: veloce.config
## Author: Rehan Iqbal
## Date: March 18, 2017
## Company: Portland State University
##
## Description:
## ------------
## A veloce.config file is required to run Veloce emulation.
## It contains options for analysis, compile, and runtime.
## You must specify all required parameters for compilation in the config file
## before compilation. You cannot modify/specify these parameters during
## compilation.
##
################################################################################

# this command specifies the HVL environment for the design
# default is "c". Required if design has an HVL testbench
# (i.e. not necessary for standalone/ICE flows)

comp -hvl questa

# RTLC = RTL compiler. This synthesizes the RTL design into
# Veloce primitives. The default language is 'xrtl', which is
# a superset of Verilog (i.e. supports $readmem, implicit FSMs, pragmas)

# the modules specified below will run on the emulator

rtlc -partition_module_xrtl definitions

# rtlc -partition_module_xrtl KeyBus_if
# rtlc -partition_module_xrtl CipherBus_if
rtlc -partition_module_xrtl Testbench_if

# rtlc -partition_module_rtl inv_shift_rows
# rtlc -partition_module_rtl key_exp
# rtlc -partition_module_rtl mix_columns
# rtlc -partition_module_rtl ram_16x64
# rtlc -partition_module_rtl sbox
# rtlc -partition_module_rtl shift_rows
# rtlc -partition_module_rtl xram_16x64
# rtlc -partition_module_rtl aes

rtlc -partition_module_xrtl top_hdl

# Veloce Solo/Trio are "D1S"
# Check Table 2-4 in 'Veloce User Guide'

comp -platform D1S

# specifies the maximum number of board on
# the emulator to run compilation

comp -num_boards 1